html, body {
    height: 100%;
}
body {
    font-family: calibri, helvetica, arial, sans-serif; 
}

a img {
    border:medium none;
}
img.noborder {
    border:medium none !important;
}
.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.alignright {
    display:block;
    float:right;
    margin:0 0 4px 8px;
}
.alignleft {
    display:block;
    float:left;
    margin:0 8px 4px 0;
}

.blog_post img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color:#F3F3F3;
    border:2px solid #DDDDDD;
    padding:3px;
    text-align:center;
}

.blog_post a:hover img {
    background-color:#317DDA;
    background-color:#F3F3F3;
    border:2px solid #316598;
}
.pygments_murphy {
    background: #eee;
    border: 1px solid #ccc;
}
