<% page_articles.group_by { |article| article.date.year }.each do |year, articles| %>
  <div class="year-section">
    <h2><%= year %></h2>

    <% articles.each_with_index do |article, i| %>
      <div class="post frontpage">
        <span class="linkdate"><%= article.date.strftime('%Y %b %d') %> »</span>
        <%= link_to article.title, article %>
      </div>
    <% end %>
  </div>
<% end %>
