<div id='left'>
    <img src="/img/me.jpg" alt="me" id="headshot"/>
</div>
<div id='right'>
    <div id='header'>
        <h1>Ask the Relic</h1>
    </div>
    <div id='content'>
        <h2>Hi</h2>
        <p>My name is Matthew Behrens and I'm an open source software engineer and traveler.</p>

        <h2>Stuff I Do</h2>
        <ul>
            <li><a href="/projects/">Code</a></li>
            <li><a href="/code/">Blog about Coding and Software</a></li>
            <li><a href="http://thebehrensventure.com">Blog about Traveling</a></li>
        </ul>

        <h2>Contact Me</h2>
        <p>
            <a href="mailto:relic@asktherelic.com" class="link"><img src="/img/email.png" srcset="img/2x/email.png 2x, img/email.png 1x"/></a>
            <a href="http://www.linkedin.com/in/matthewjbehrens"><img src="/img/linkedin.png" srcset="img/2x/linkedin.png 2x, img/linkedin.png 1x"/></a>
            <a href="http://www.twitter.com/askedrelic"><img src="/img/twitter.png" srcset="img/2x/twitter.png 2x, img/twitter.png 1x"/></a>
        </p>

        <h2>Other Stuff I Use</h2>
        <p>
            <a href="http://github.com/askedrelic"><img src="/img/github.png" srcset="img/2x/github.png 2x, img/github.png 1x"/></a>
            <a href="http://www.pinboard.in/u:askedrelic"><img src="/img/pinboard.png" /></a>
            <a href="https://plus.google.com/u/1/110403693775840070387/"><img src="/img/google_plus.png" srcset="img/2x/google_plus.png 2x, img/google_plus.png 1x"/></a>
            <a href="http://www.facebook.com/matthewjbehrens"><img src="/img/facebook.png" srcset="img/2x/facebook.png 2x, img/facebook.png 1x"/></a>
            <a href="http://www.flickr.com/photos/askedrelic"><img src="/img/flickr.png" srcset="img/2x/flickr.png 2x, img/flickr.png 1x"/></a>
            <a href="http://www.last.fm/user/AskedRelic"><img src="/img/lastfm.png" srcset="img/2x/lastfm.png 2x, img/lastfm.png 1x"/></a>
            <a href="http://www.reddit.com/user/askedrelic/"><img src="/img/reddit.png" srcset="img/2x/reddit.png 2x, img/reddit.png 1x"/></a>
            <a href="http://askedrelic.yelp.com/" class="link"><img src="/img/yelp.png" srcset="img/2x/yelp.png 2x, img/yelp.png 1x"/></a>
        </p>
    </div>
    <div id='footer'>
        <a href="http://www.komodomedia.com/blog/2009/06/social-network-icon-pack/">Icons from komodomedia.com</a>
    </div>
</div>

